Flask==2.2.3
flask_cors==5.0.1
Pillow==9.0.1
numpy>=1.23.5,<2.0.0
tensorflow==2.15.0
keras==2.15.0  # Ensure Keras version matches TensorFlow
gunicorn==20.1.0
werkzeug==2.2.3
h5py
scipy
pandas
opencv-python
scikit-learn
matplotlib
